<div class="container" style="flex-direction: column; display:flex; align-items:flex-start; flex-direction: column; margin-right:20px" id="sheFracks">
    <div><%- include('../partials/adverts', { ad: '/assets/ads/deepwater-horizon.jpg' , amazonLink:'https://www.amazon.co.uk/Deepwater-Horizon-DVD-Mark-Wahlberg/dp/B01LYN99DH/ref=sr_1_1?crid=3O8SKWDQF589E&dib=eyJ2IjoiMSJ9.zwj3-QXzw8CoaD9VXUCfAfJY3t4Og8GHOD-0zS1MPd8Zv4Pq2cUjeffZzQ3A66yuOvAycDDBX0wA-cAIAZtPz504jXkoQ_EAoLUqOH7djZ7UwLPXj3gxVc66xB1ZntnQSFYZGFReEZAQWhxm9nSZHpsfzyhuAqHkGol9Q24qE2d9wbUOZmlx5dHJObcfBbJx0qPgqcU6DL_JrA5y4Bc3E8Wk9teCEOXH6tWxPKn1Odg.iwNxioKgvpID8bCEDW0ioRIFr4u1_i17YT3m2M8a6l4&dib_tag=se&keywords=deepwater+horizon+dvd&qid=1772343125&sprefix=deepwater+%2Caps%2C507&sr=8-1cause on'}) %></div>
    <div><%- include('../partials/adverts', { ad: '/assets/ads/taylor-swifts-private-jet.jpg' , amazonLink: 'https://www.amazon.co.uk/4DRC-Take-off-Batteries-Stabilizer-Beginners/dp/B0F31CKT9L/ref=sr_1_3_sspa?dib=eyJ2IjoiMSJ9.HumDzJs7MgnyQVuxZZvYLnn5OrA7agIBrdMMR4CbplGw0BuJJh-MamKo-jHWrmit-RyZC10O1Zte5TQ21fbXIkMndu4iMdqA1wKTbsvDdkkQYiLYSUO5GeZmece7yOKeoGjWnvWvkUFzhg7wnb8FSc7ookweTgui14ceSQeeFmxLGywH0srirlaUgrtBPG97c8xyyrpADT2Y2Lib0yhAPi_wacSHWSuLI1yYCAoYkZOQBpvA74s67MPuV3FiCqlFNgS64LipYDPwkV9QTTK3cJ6cSYrvhkLV85HRFFFW3FE.sZqjmrZhc_kOp6EOUdB6B3QxDnwwYU5Q-o5fwuNpeZo&dib_tag=se&keywords=toy+jet&qid=1772341925&sr=8-3-spons&aref=viBRlvi1PN&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1'}) %></div>
    <div><%- include('../partials/adverts', { ad: '/assets/ads/rupaul-fracking-wyoming.jpg' , amazonLink:'https://www.amazon.co.uk/Rupauls-Inspired-Jewelry-Earrings-Earrings/dp/B093W8JM25/ref=sr_1_8_sspa?crid=1X1CK8I9ISYFU&dib=eyJ2IjoiMSJ9.pRRPknF-4l1jfZ0mwHAgsIDmsdG-OBxbO-L5F78riA-UMYi_mOFp6Tb0ksEEZeXtdQ-rF5CrfF-MH7QFp2NGeWaabyohMXpO1V-EEG9d8sOsJNAnuk-HAQuNSF4umN7mHdblsfltaDRJl9FFpMmZoaqZ20ZvfUqyoc1sJ-0i_wJe-xn4YVGneYoMrbpb5CkDuHAlJYeGP_6iCB6-2QhM_PfZgVqyXw9HQ3XOLFHY9B8.3-ckPQcE19qJ1mURT1qSLn3gFbhi901VCxKHvOK1rKI&dib_tag=se&keywords=rupaul%27s+drag+race&qid=1772342912&sprefix=rupaul+drag+race%2Caps%2C341&sr=8-8-spons&aref=FoiAVjpPW6&sp_csd=d2lkZ2V0TmFtZT1zcF9tdGY&psc=1'}) %></div>
    <div><%- include('../partials/adverts', { ad: '/assets/ads/4fm7ly.png' , amazonLink:'https://www.amazon.co.uk/Joie-Doodle-Doo-Egg-Timer/dp/B0070I3WA0/ref=sr_1_8?crid=2SEBMQFLBP973&dib=eyJ2IjoiMSJ9.6uRywg65Y6BMpXS67frjrR4KahwQWTZTmk2XnASI4twuhnyFjzxkCHtCZR5IpZ3jyLG673eXVvYtJK6f9YB3k2jV1ts3olsfmYhR7rIACpk0IYQjd6ZxIjOfw9Wu7A76uZPdCqwWZXm70-c9Ae3yAsmvtjwSoEaaKCyZ6ZzihXVCAGKexkR1nYu2ETKAjxnZLaWFVSsMoZ-XnDleIz3PEPnLOSvNlSE32nSHbu5aY0rDstSAYgQ4OWFk9islELsTMBpQ0AMnd7UmBRt36CJfN6CpwVrIuG3UjZ8mCx_qvS0.ydKApJNvZMk2jfSgwtYw4q3-I1lcAfD-8dG75HRe_68&dib_tag=se&keywords=egg+timer&qid=1772343020&sprefix=egg+timer%2Caps%2C447&sr=8-8'}) %></div>
</div>

<style>

#sheFracks div {
    width: 300px;
    height: 300px;
    position: relative;
    margin:20px;
}

#sheFracks img {
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#sheFracks button {
    position: absolute;   
    z-index: 2;        
    bottom: 10px;            
    right: 10px;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
    padding:10px;
}

@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}


</style>