<div class="container" style="flex-direction: column;">
    <div><%- include('../partials/adverts', { ad: '/assets/sun.png' }) %></div>
    <div><%- include('../partials/adverts', { ad: '/assets/sun.png' }) %></div>
</div>