<div id="curtainDraw">
    <video id="curtainVideo" controls autoplay>
        <source src="/assets/curtainsInnit.mp4" type="video/mp4">
    </video>
</div>


</style>

<script>
  window.addEventListener("load", () => {
    const video = document.getElementById("curtainVideo");
    const popup = document.getElementById("curtainDraw");

    video.currentTime = 0;
    video.play();

    video.onended = () => {
      popup.classList.add("hidden");

      setTimeout(() => {
        popup.remove();
      }, 800);
    };
  });
</script>