<div id="curtainDraw">
    <video width="100%" height="100%" objectfit="cover" position="relative" z-index="1000" autoplay>
        <source src="/assets/curtainsInnit.mp4" type="video/mp4">
    </video>
</div>