<!-- MALICIOUS SPINNING NAVIGATION -->
<nav class="malicious-nav" id="maliciousNav">
    <div class="malicious-nav-items">
        <a href="/" class="malicious-nav-item" style="transform: rotate(0deg) translateY(-100px) rotate(0deg);">Home</a>
        <a href="/blog" class="malicious-nav-item" style="transform: rotate(40deg) translateY(-100px) rotate(-40deg);">Blog</a>
        <a href="#about" class="malicious-nav-item" style="transform: rotate(80deg) translateY(-100px) rotate(-80deg);">About</a>
        <a href="/signIn" class="malicious-nav-item" style="transform: rotate(120deg) translateY(-100px) rotate(-120deg);">Sign The In</a>
        <a href="/calorieTime" class="malicious-nav-item" style="transform: rotate(160deg) translateY(-100px) rotate(-160deg);">Calorie Time</a>
        <a href="/leaderboard" class="malicious-nav-item" style="transform: rotate(200deg) translateY(-100px) rotate(-200deg);">Leaderboard</a>
        <a href="#settings" class="malicious-nav-item" style="transform: rotate(240deg) translateY(-100px) rotate(-240deg);">Settings</a>
        <a href="/wrapped" class="malicious-nav-item" style="transform: rotate(280deg) translateY(-100px) rotate(-280deg);">Wrapped</a>
        <button class="malicious-nav-item colorblind-toggle" id="colorblindToggle" style="transform: rotate(320deg) translateY(-100px) rotate(-320deg);" title="Toggle Color Blind Mode">Disable CSS</button>
        <div class="malicious-nav-center">🌍</div>
    </div>
</nav>
