<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evil Daily Calorie Calculator</title>
    <link rel="stylesheet" href="assets/styles.css">

    <style id="inlineStyles">
    #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            z-index: -1;
        }
    </style>
</head>
<body>

    <video autoplay muted loop id="myVideo">
        <source src="assets/fire.mp4" type="video/mp4">
    </video>

    <%- include('../partials/nav') %>    
    <h1 style="font-family: deathZombie">Evil Daily Calorie Calculator</h1>
    <div style="display:flex;align-items:flexstart">
    <!-- <%- include('../partials/advertContainer') %> -->
    <form style="border:1px solid #ccc; flex:1">
        <div style="display:block">
        <div class="container">
            <label></label>
            <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
            Describe your diet?
            </label>
        </div>

        <label for="sleep"><b>ZZzz ZZZZ Zzz zzzz</b></label>
        <input type="password" placeholder="Sleep per night?" name="sleep" required>

        <div class="slidecontainer">
            <label>How many claories are you?</label>
            <div id='scrubberContainer'>
            <p id='tooltip'>0</p>
            <form oninput="x.value=parseInt(scrubber.value)">
            <input type="range" id="scrubber" value="78" max="100000000" onmousemove="showTooltip(event)" >
            <output id="x" name="x" for="a"></output>
            </form>
        </div>
        </div>


        <label>energy potatos</label>
        <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 66.4%; padding-top: 120px; width:400px; height:400px"><a href="https://www.buzzfeed.com/purplesilkymoth/what-potato-dish-are-you" data-iframely-url="https://iframely.net/SbRZxfDY?theme=dark"></a></div></div><script async src="https://iframely.net/embed.js"></script>
        
        <label for="potato">energy potato</label><br>
        <input type="text" id="potato" name="potato"><br>


        <label for="favcolor">What color is your stool?</label>
        <input type="color" id="favcolor" name="favcolor" value="#ff0000" style="width:40%;height:200px" required>
        
        <label></label>
        <button style="height:50px; width: 100px; background-color:green"onclick="event.preventDefault(); document.getElementById('oops').innerHTML = 'Sorry I dont know how to count 😒'">
     Calculate
    </button>

    <h1 id="oops"></h1>
    
    </div>
    </form>
    <%- include('../partials/advertContainer') %>
    </div>
</body>




<script>
    //just a cheeky bit of script im sure it won't linger none
 let x = document.getElementById('x')
    let scrubber = document.getElementById('scrubber')
    let tooltip = document.getElementById('tooltip')

    function showTooltip(e) {
        let w = scrubber.clientWidth;
        let x = e.offsetX;
        let percents = x / w;
        let max = parseInt(scrubber.max)
        tooltip.innerHTML = Math.floor(percents * max + 0.5) 
    }

    window.onmousemove = function (e) {
        let x = (e.clientX + 20) + 'px';
        tooltip.style.left = x;
    }
    
</script>